.mText p.error-giant {
    font-family: 'Brush Script MT', cursive;
    font-size: 96px;
    text-align: center;
}

.mText p.error-text {
    font-family: 'Brush Script MT';
    font-size: 36px;
    padding-bottom: 12px;
    text-align: center;
}

.mText p.quote {
    font-family: 'Brush Script MT';
    font-size: 24px;
    text-align: center;
}

.mText p.quote-sign {
    font-family: 'Brush Script MT';
    font-size: 24px;
    padding-right: 384px;
    text-align: right;
}