body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3e3e3
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  font-size: 17px;
}


.topnav p.toptitle {
padding-left: 16px;
  font-size: 20px;
  font-family: sans-serif;
  color: white
}