/*frames*/
@keyframes messageIn {
    from {opacity:0;}
    to {opacity:1;}
}

.cookiemsg .idle {
    visibility: hidden;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 8px;
    padding: 16px;
    border: solid;
    border-radius: 8px;
    background: #e3e3e3;
}

.cookiemsg .load {
    visibility: visible;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 8px;
    padding: 16px;
    border: solid;
    border-radius: 8px;
    background: #e3e3e3;
    animation: messageIn 2s;
}

.cookiemsg .load p {
    font-size: 12px;
    font-family: sans-serif;
}

.cookiemsg .load a {
    color: #878787;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;-size: 12px;
    font-family: sans-serif;
}

.cookiemsg .load a:hover {
    color: #ffffff;
    font-size: 12px;
    text-decoration: underline;
}

.cookiemsg .load input[type=button] {
    cursor: pointer;
    border: double;
    border-width: 1px;
    border-color: #707070;
    color: #000000;
    background: #e3e3e3;
    padding: 8px;
    font-size: 8px;
    outline: none;
    border-radius: 8px;
}

.cookiemsg .load input[type=button]:hover {
    background: #bdbdbd;
}

.cookiemsg .load input[type=button]:active {
    background: #979797;
}

.default input[type=button] {
    cursor: pointer;
    border: double;
    border-width: 1px;
    border-color: #707070;
    color: #000000;
    background: #e3e3e3;
    padding: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    font-size: 8px;
    outline: none;
    border-radius: 8px;
}

.default input[type=button]:hover {
    background: #bdbdbd;
}

.default input[type=button]:active {
    background: #858585;
}

.default input[type=text] {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
    border: double;
    border-width: 1px;
    border-color: #707070;
    color: #000000;
    background: #e3e3e3;
    padding: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    font-size: 8px;
    outline: none;
    border-radius: 8px;
}

.default input[type=checkbox] {
    border: double;
    border-width: 1px;
    border-color: #707070;
    color: #000000;
    background: #e3e3e3;
    padding: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    font-size: 8px;
    outline: none;
    border-radius: 8px;
}