.titleint p {
    font-family: 'Segoe UI';
    font-size: 16px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3e3e3
}

.tBar {
  overflow: hidden;
  background-color: #333333;
}

.tBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  font-size: 17px;
}


.tBar p.toptitle {
  padding-left: 16px;
  font-size: 20px;
  font-family: sans-serif;
  color: white
}

.nav {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    background-color: #d6d6d6;
    border-radius: 12px;
    padding: 16px;
    width: 50%;
}

.nav p {
    font-size: 32px;
    font-weight: bold;
}

.nav input.textchatbox {
    background-color: #e3e3e3;
    border-width: 2px;
    border-radius: 6px;
    padding-left: 12px;
    width: 50%;
    outline: none;
}

.title {
    padding:16px;
}